body
{
    background-color: black;
}

h1
{
    color: red;
}
h2
{
    color: aqua;
}
img
{
    height: 100px;
    width: 200px;
    border: 2px solid red;
}
h3
{
    color: green;
}
div
{
    display: flex;
    justify-content: space-between;
}